:root{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background-color: #f5f5f5;
}

.menu{
    background-color: black;
    display: flex;
    color: white;
}

#banner h1, p, i{
    color: white;
}

#banner h1{
    font-family: 'Monoton', cursive;
    font-size: 5em;
    font-weight: 200;
}

.menu ul li{
    list-style: none;
    display: inline-block;
    padding: 0 7em;
}

p{
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

#banner{
    background-image: url('../img/fondo.jpg');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    height: 80vh;
}

#banner .inner{
    text-align: center;
    position: relative;
}

#main{
    margin: 2em 0;
}

.boxes{
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    grid-gap: 0.5em;
}

.boxes div{
    justify-content: center;
    align-items: center;
    text-align: center;
}

.boxes img{
    width: 100%;
}

.box{
    background-color: white;
    border-radius: 5px;
}

.box .image img{
    border-radius: 4px 4px 0 0;
}

.box .inner p{
    font-size: 1em;
    color: black;
    padding: 0 0.8em;
    text-align: justify;
}

.box .inner h3{
    font-size: 1.3em;
    color: black;
}

.button{
    width: 85%;
    border-radius: 4px;
    border: none;
    color: white;
    background-color: orange;
    margin: 1em 0;
    height: 2.85em;
    line-height: 2.95em;
}

#form-cont{
    background-image: url(../img/contacus.jpg);
    background-size: cover;
}

.all-form{
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 2em 4em;
}

.contact{
    background-color: orange;
    color: white;
    border: none;
    border-radius: 4px;
    width: 70%;
    margin: 1em 0;
    height: 2.85em;
    line-height: 2.95em;
}

#form-cont{
    color: white;
}

#footer{
    background-color: black;
    color: white;
}

#footer .social ul li{
    color: white;
    list-style: none;
}

#footer .more ul li{
    color: white;
    list-style: none;
}

#footer{
    display: grid;
    grid-template-columns: 50% 50%;
}

.box .inner a button:hover{
    background: white;
    cursor: pointer;
    color: orange;
}

#footer i{
    float: left;
    padding-right: 0.5em;
}

.contact-info p{
    text-align: justify;
}

.contact-info{
    background-color: rgba(102, 101, 101, 0.801);
    border-radius: 10px;
}

@media (max-width: 768px) {
    .boxes{
      grid-template-columns: none;
    }
